<!DOCTYPE html>
<html lang="en">
<head>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-E8MZBP8BRF"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-E8MZBP8BRF');
</script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Title }}</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>
        <h1>{{ .Title }}</h1>
    </header>

<section>
    <h1>Book Recommendations</h1>
    <div class="book-grid">
        {{ range .Pages }}
        <div class="book-card">
            <a href="{{ .Permalink }}">
                <img src="{{ .Params.cover | relURL }}" alt="{{ .Title }} Cover">
                <p>{{ .Title }}</p>
            </a>
        </div>
        {{ end }}
    </div>
</section>

    <footer>
        <p>  © 2024</p>
    </footer>
</body>
</html>

